/* line 1, ../sass/style.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../sass/style.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/style.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/style.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../sass/style.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 45, ../sass/style.scss */
body {
  font-family: 'Inconsolata', monospace;
}

/* line 50, ../sass/style.scss */
h1 {
  font-family: 'Oxygen Mono';
  font-size: 40px;
  padding-top: 93px;
}

/* line 56, ../sass/style.scss */
p {
  font-size: 26px;
}

/* line 60, ../sass/style.scss */
a {
  color: #000;
  text-decoration: underline;
}

/* line 65, ../sass/style.scss */
.header {
  position: fixed;
  left: 0;
  right: 0;
  background: #fff;
}
/* line 71, ../sass/style.scss */
.header__container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 719px) {
  /* line 79, ../sass/style.scss */
  .header__logo {
    display: block;
    margin: 0 auto;
  }
}
/* line 86, ../sass/style.scss */
.header__logo img {
  max-height: 70px;
  margin: 10px 0;
}
/* line 92, ../sass/style.scss */
.header__menu {
  display: flex;
  font-size: 26px;
  padding: 31px 0 0;
}
@media (max-width: 719px) {
  /* line 92, ../sass/style.scss */
  .header__menu {
    display: none;
  }
}
/* line 101, ../sass/style.scss */
.header__menu li {
  margin: 0 20px;
  cursor: pointer;
}

/* line 110, ../sass/style.scss */
.home__image img {
  max-width: 100%;
}
/* line 115, ../sass/style.scss */
.home__aims {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}
@media (max-width: 719px) {
  /* line 115, ../sass/style.scss */
  .home__aims {
    display: block;
  }
}
/* line 124, ../sass/style.scss */
.home__aims div {
  width: 320px;
  padding: 0 40px;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
}
@media (max-width: 719px) {
  /* line 124, ../sass/style.scss */
  .home__aims div {
    margin: 0 auto 100px;
  }
}
/* line 136, ../sass/style.scss */
.home__aims img {
  max-width: 100px;
  display: block;
  margin: 0 auto 30px;
}
/* line 142, ../sass/style.scss */
.home__aims strong {
  font-family: 'Oxygen Mono';
  font-size: 40px;
  display: block;
  margin: 0 0 20px;
}
/* line 149, ../sass/style.scss */
.home__aims p {
  font-size: 26px;
}
/* line 154, ../sass/style.scss */
.home__mission, .home__about {
  text-align: center;
  margin: 0 auto 100px;
  width: 600px;
  padding: 100px;
  max-width: 100%;
  box-sizing: border-box;
}
@media (max-width: 719px) {
  /* line 154, ../sass/style.scss */
  .home__mission, .home__about {
    padding: 100px 20px;
  }
}
/* line 167, ../sass/style.scss */
.home__mission h1, .home__about h1 {
  margin-bottom: 20px;
}
/* line 172, ../sass/style.scss */
.home__contacts {
  text-align: center;
}
/* line 176, ../sass/style.scss */
.home__scheme {
  text-align: center;
}
/* line 179, ../sass/style.scss */
.home__scheme h1 {
  margin-bottom: 40px;
}
/* line 183, ../sass/style.scss */
.home__scheme-header {
  display: flex;
  justify-content: center;
}
/* line 188, ../sass/style.scss */
.home__scheme-content {
  display: flex;
  flex-direction: column;
  background: #333;
  color: #ccc;
  padding: 60px 10px;
}
/* line 196, ../sass/style.scss */
.home__scheme-row {
  display: flex;
  justify-content: center;
}
/* line 205, ../sass/style.scss */
.home__scheme-column {
  width: 300px;
  margin: 0 10px;
}
/* line 210, ../sass/style.scss */
.home__scheme-arrows {
  height: 50px;
  position: relative;
}
/* line 215, ../sass/style.scss */
.home__scheme-arrows--type1:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 228, ../sass/style.scss */
.home__scheme-arrows--type2 {
  width: 640px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-width: 1px 1px 0;
}
/* line 234, ../sass/style.scss */
.home__scheme-arrows--type2:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 247, ../sass/style.scss */
.home__scheme-arrows--type3 {
  width: 640px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-width: 0 1px;
}
/* line 253, ../sass/style.scss */
.home__scheme-arrows--type3:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 266, ../sass/style.scss */
.home__scheme-arrows--type4 {
  width: 640px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-width: 0 0 0 1px;
}
/* line 272, ../sass/style.scss */
.home__scheme-arrows--type4:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  background: #fff;
  left: 0;
  right: 0;
  margin: 0 auto;
}
/* line 285, ../sass/style.scss */
.home__scheme-arrows--type5 {
  width: 640px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-width: 0 0 0 1px;
}
/* line 293, ../sass/style.scss */
.home__scheme-block {
  border: 1px solid #ccc;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 301, ../sass/style.scss */
.home__scheme-block-title {
  text-transform: uppercase;
  pointer-events: none;
}
/* line 306, ../sass/style.scss */
.home__scheme-block-text {
  display: flex;
  flex-direction: column;
  height: 0;
  overflow: hidden;
  justify-content: center;
  pointer-events: none;
  transition: height 250ms ease-in;
}
/* line 315, ../sass/style.scss */
.home__scheme-block-text.active {
  height: 70px;
  transition: height 250ms ease-in;
}

/* line 324, ../sass/style.scss */
footer {
  padding: 200px 0 40px;
  text-align: center;
}
